body a {
  color: #e29424;
  font-weight: bold;
}

body a:hover {
  color: #e29424;
  text-decoration: underline;
}

form input {
  width: 250px;
  padding: 0.5rem;
}

form button {
  text-transform: lowercase;
  font-weight: bold;
  border-radius: 3px;
  color: #fff;
  background-color: #e29424;
  border: none;
  padding: 0.5rem 1rem;
}

form button:hover {
  opacity: 0.8;
}

.stories {
  text-align: left;
}

.stories a {
  color: #000;
}

.stories a:hover {
  color: #000;
  text-decoration: none;
  opacity: 0.8;
}

.stories p {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.stories h1 {
  margin-top: 1rem;
}

.story-container {
  padding: 0 5rem;
  line-height: 1.618rem; /* the 'golden ratio' :) */
}

.title h1, .title h2, .title h3, .title h5, .title h4 {
  padding: 0;
  margin-bottom: 0.5rem;
}

.title .avatar {
  margin-bottom: 2.5rem;
}

.text {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.bot-field {
  display: none;
}

@media only screen and (max-width: 900px) {
  .story-container {
    padding: 0;
  }

  .text {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}
